@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

@import url(/Styles/Animation.css);

:root{
    --primary-color: rgb(199, 73, 84);
}

.font {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Dela Gothic One', sans-serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Unbounded', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

::selection {
    color: #242424;
    background: #EC465A;
}

p,
img,
h1,
.about-section .container p,
.about-section .container h1,
.skills-section .container p,
.skills-section .container h1,
.skills-section .container .skill,
.projects-section .container h1,
.projects-section .container .project .project-info h1,
.projects-section .container .project .project-info h2,
.projects-section .container .project .project-info .sm-icon,
.projects-section .container .project .project-info p,
.projects-section .container iframe,
.contact-section div {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

body {
    font-family: 'Unbounded', sans-serif;
    background-color: #0C0C0C;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(../IMG/Akeno-Front.png), url(../IMG/Akeno-Mid-Upper.png), url(../IMG/Akeno-Mid-Back.png);
    background-size: 98%, 101%, 105%;
    background-position: center, center, center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar {
    position: fixed;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    /* backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px; */
    transition: all 0.3s ease;
}

.navbar a {
    font-size: 1.1rem;
    color: #ffffff;
    transition: all 0.3s ease;
    mix-blend-mode: difference;
}

.navbar li a:hover {
    color: var(--primary-color);
    text-shadow: var(--primary-color) 0px 0px 10px;
    font-size: 1.2rem;
}

.navbar .Logo {
    color: #ffffff;
    font-size: 2em;
    font-weight: 900;
}

.navbar .sm-icon {
    color: #ffffff;
    font-size: 2em;
    font-weight: 900;
    margin-right: 10px;
    transition: all 0.3s ease;
}


.navbar .sm-icon:hover {
    color: var(--primary-color);
    filter: drop-shadow(var(--primary-color) 0px 0px 10px);
    font-size: 2.2em;
}


.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li .active {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.navbar .burger-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 45px;
}

.title {
    font-family: 'Dela Gothic One', sans-serif;
    position: absolute;
    top: 35%;
    left: 77%;
    color: #ffffff00;
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #ffffff;
    mix-blend-mode: difference;
}

.subtitle {
    font-family: 'Dela Gothic One', sans-serif;
    text-align: end;
    position: absolute;
    top: 50%;
    left: 60%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 7px;
    text-shadow: #ffffff 0px 0px 10px;
    mix-blend-mode: difference;
}

.about-section {
    width: 100vw;
    height: 100vh;
    background-color: #131313;
}

.about-section .container {
    position: relative;
    margin: 165px 0;
    width: 45%;
    float: right;
    background-color: rgb(39, 39, 39);
    padding: 150px;
    border-radius: 20px 0 0 20px;
}

.about-section .container h1 {
    font-family: 'Dela Gothic One', sans-serif;
    color: #ffffff00;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 50px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.about-section .container p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}

.about-section .image {
    position: absolute;
    width: 42%;
    left: -2%;
    float: left;
}

.about-section p span {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2em;

    animation-name: Rainbow-text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.Rainbow-Text {
    animation-name: Rainbow-text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.skills-section {
    width: 100vw;
    height: 100vh;
    background-color: #181818;
}

.skills-section .container {
    position: relative;
    margin: 150px 0;
    width: 45%;
    float: left;
    background-color: rgb(39, 39, 39);
    padding: 100px;
    border-radius: 0 20px 20px 0;
    color: #fff;
}

.skills-section .container h1 {
    font-family: 'Dela Gothic One', sans-serif;
    color: #ffffff00;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 50px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.skills-section .container .sm-icon {
    font-size: 3em;
    color: #ffffff;
    margin-right: 10px;
}

.skills-section .container .skill {
    display: flex;
    align-items: center;
}

.skills-section .image {
    position: absolute;
    width: 45%;
    right: -3%;
    float: left;
}

.projects-section {
    width: 100vw;
    height: 100vh;
    background-color: #131313;
}

.projects-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.projects-section .container h1 {
    font-family: 'Dela Gothic One', sans-serif;
    color: #ffffff00;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    margin-right: 60px;
}

.projects-section .container .project {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-section .container .project .image {
    width: 45%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.projects-section .container .project .image:hover {
    scale: 1.1;
    filter: drop-shadow(#161616 0px 0px 10px);

}

.projects-section .container .project .project-info {
    width: 45%;
}

.projects-section .container .project .project-info h1 {
    font-family: 'Dela Gothic One', sans-serif;
    color: #ffffff00;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 50px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.projects-section .container .project .project-info p {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}

.projects-section .container .project .project-info .sm-icon {
    font-size: 3em;
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.projects-section .container .project .project-info .sm-icon:hover {
    color: var(--primary-color);
    filter: drop-shadow(var(--primary-color) 0px 0px 10px);
    font-size: 3.2em;
}

.projects-section .container .music-prj {
    display: none;
    position: absolute;
    transform: translate(0%, 17%);
    z-index: 100;
}

.projects-section .container .music-prj iframe {
    margin: 5px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
}

.projects-section .container .music-prj iframe:hover {
    transform: rotateX(6deg) rotateY(3deg) rotateZ(2deg);
    filter: drop-shadow(#000000 0px 0px 10px);
    scale: 1.1;
}

.projects-section .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

.projects-section .design-prj {
    display: none;
    position: absolute;
    transform: translate(6%, -6%);
    z-index: 100;
    transition: all 0.3s ease;
}

.projects-section .container2 .design-prj img {
    width: 323px;
    margin: 5px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
}

.projects-section .container2 .design-prj img:hover {
    filter: drop-shadow(#000000 0px 0px 10px);
    transform: scale(1.1);
}

.projects-section .photo-prj {
    display: none;
    position: absolute;
    transform: translate(5.5%, -4.5%);
    z-index: 100;
    transition: all 0.3s ease;
}

.projects-section .container2 .photo-prj img {
    width: 323px;
    margin: 5px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
}

.projects-section .container2 .photo-prj img:hover {
    filter: drop-shadow(#000000 0px 0px 10px);
    transform: scale(1.1);
}

.contact-section {
    width: 100vw;
    height: 100vh;
    background-color: #181818;
}

.contact-section .container-contact {
    position: absolute;
    width: 45%;
    background-color: rgb(39, 39, 39);
    padding: 140px;
    border-radius: 20px 0 0 20px;
    transform: translate(0%, 55%);
    right: 0;
}

.contact-section .container-contact h1 {
    font-family: 'Dela Gothic One', sans-serif;
    color: #ffffff00;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 50px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

    position: absolute;
    transform: translate(0%, -120%);
}

.contact-section .container-contact p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}

.btn-contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: #ffffff;
    color: #313131;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.05s ease;
    cursor: pointer;
}

.btn-contact-me:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    filter: drop-shadow(var(--primary-color) 0px 0px 10px);
    scale: 1.1;
}

.contact-section .container-contact .social-media {
    position: absolute;
    transform: translate(0%, 25%);
}

.contact-section .container-contact .social-media .sm-icon {
    font-size: 3.5em;
    color: #ffffff;
    margin-right: 10px;
    transition: all 0.1s ease;
}

.contact-section .container-contact .social-media .sm-icon:hover {
    color: var(--primary-color);
    filter: drop-shadow(var(--primary-color) 0px 0px 10px);
    scale: 1.1;
}

.contact-section .image {
    position: absolute;
    transform: translate(0%, 80%);
    width: 45%;
    float: left;
    left: -1%;
}


.footer{
    transform: translate(40%, 0%);
    opacity: 0;
}
.footer {
    margin: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 50px;
    background-color: rgba(71, 71, 71, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    opacity: 0;
    border-radius: 20px;
}

.load {
    transition: all 0.6s ease-in;
}

.back {
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: fixed;
    background-color: rgba(27, 27, 27, 0.2);
    backdrop-filter: blur(40px);
    transition: all 0.6s ease-in;
}

.CenterdScreenIcon {
    position: fixed;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 1002;
    transition: all 0.6s ease-in;
}

.Loader_text {
    position: fixed;
    width: 300px;
    top: 60%;
    left: 49%;
    transform: translate(-35%, -50%);
    transition: all 0.6s ease-in;
    color: #ffffff;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 200;
    font-family: 'Dela Gothic One', cursive;
    transition: 0.6s;
    z-index: 1003;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    text-shadow: none;
}

span[class^="dot-"] {
    opacity: 0;
}

.dot-one {
    animation: dot-one 2s infinite linear
}

.dot-two {
    animation: dot-two 2s infinite linear
}

.dot-three {
    animation: dot-three 2s infinite linear
}

@keyframes dot-one {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dot-two {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dot-three {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes OnLoad {
    0% {
        width: 0px;
        filter: opacity(1);
    }

    50% {
        width: 200px;
        filter: opacity(0);
    }

    100% {
        width: 300px;
        filter: opacity(0);
    }
}

@keyframes turn360_Infinite {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes Rainbow-text {
    0% {
        color: #b6e2fc;
    }

    10% {
        color: #912828;
    }

    20% {
        color: #862945;
    }

    30% {
        color: #601d74;
    }

    40% {
        color: #6ada6a;
    }

    50% {
        color: #6969e4;
    }

    60% {
        color: #672992;
    }

    70% {
        color: #ee82ee;
    }

    80% {
        color: #c43131;
    }

    90% {
        color: #b3ad78;
    }

    100% {
        color: #e5faac;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translate();
    }

    100% {
        opacity: 1;
        transform: translate();
    }
}

@keyframes loadingpageimg{
    0% {
        opacity: 0;
        width: 500px;
    }

    50% {
        opacity: 1;
        width: 550px;
    }

    100% {
        opacity: 1;
        width: 600px;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .Logo {
        position: absolute;
        top: 53px;
        left: 50px;
        color: #ffffff;
        font-size: 2em;
        font-weight: 900;
        z-index: 100;
    }

    .navbar .burger-menu {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        transition: all 0.5s ease;
        background-color: rgba(39, 39, 39, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar .sm-icon {
        display: none;
    }

    .nav-links.toggle-menu {
        margin-left: -100%;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2rem;
    }
}

/* Path: Styles/Styles.css */
